{% extends "header.html" %}

{% block content %}

{% if form.errors %}
<p>Username-ul si parola nu se potrivesc.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Contul dumneavoastra nu are acces la aceasta pagina. Va rugam sa va conectati cu un cont care are acces.</p>
    {% else %}
    <p>Va rugam sa va conectati pentru a avea acces la aceasta pagina.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you set up the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}