{% extends "header.html" %}
{% block title%}Profil{% endblock title%}
{% block content %}
    <div class="row my-3 p-3">
        <h1>Bine ai venit {{user.username}}</h1>
        <form action="{% url 'adauga_dosar' %}" method="post">
            {% csrf_token %}
            <table>
              {{ form.as_table }}
            </table>
            <input class="btn btn-primary" type="submit" value="Aduaga">
            <a class="btn btn-secondary" href="{% url 'Dosare' %}">Back</a>
          </form>
          <div>
            <a class="btn-secondary" href="{% url 'user_profile_detail' user.id %}">Dosarele mele</a>
          </div>
        </div>
    </div>
{% endblock %}